@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .container {
    @apply px-4;
  }
}


@layer base {
  * {
    @apply !scroll-smooth;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
   
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

